{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <fieldset>
            <legend>{{title}}</legend>
            <form name="register" action="" method="post">
                {{form.hidden_tag()}}

                <p>{{form.email.label}}</p>
                <p>{{form.email}}</p>
                <p>
                    {% for error in form.email.errors %}
                        <span class="error-message">{{error}}</span>
                    {% endfor %}
                </p>

                <p>{{form.password.label}}</p>
                <p>{{form.password}}</p>
                <p>
                    {% for error in form.password.errors %}
                        <span class="error-message">{{error}}</span>
                    {% endfor %}
                </p>

                <p>{{form.passwordConfirm.label}}</p>
                <p>{{form.passwordConfirm}}</p>
                <p>
                    {% for error in form.passwordConfirm.errors %}
                        <span class="error-message">{{error}}</span>
                    {% endfor %}
                </p>

                <p>{{form.firstName.label}}</p>
                <p>{{form.firstName}}</p>
                <p>
                    {% for error in form.firstName.errors %}
                        <span class="error-message">{{error}}</span>
                    {% endfor %}
                </p>

                <p>{{form.lastName.label}}</p>
                <p>{{form.lastName}}</p>
                <p>
                    {% for error in form.lastName.errors %}
                        <span class="error-message">{{error}}</span>
                    {% endfor %}
                </p>

                <p>{{form.submit}}</p>
            </form>
        </fieldset>
    </div>
{% endblock %}
